.visibility-hidden {
    visibility: hidden;
  }

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50%;
}

.number{
  font-size: 72px;
  color: #fbf5f5;
  font-family: Verdana;
  line-height: 1.75em;
  text-align: center;
  user-select: none;
}

.arrow{
  transform: scale(2.5);
  position: relative;
  margin: 40%;
  color: #FFFFFF;
  opacity: 0.5;
  
  &:hover {
    opacity: 1;
  }
}

.ele{
  height: 100px;
  width: 100px;
  direction: row;
}